@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../../../assets/fonts/flaticon/font/Flaticon.eot'); /* IE9 Compat Modes */
    src: local('Open Sans'), local('OpenSans'),
         url('../../../assets/fonts/flaticon/font/Flaticon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../../assets/fonts/flaticon/font/Flaticon.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../../assets/fonts/flaticon/font/Flaticon.woff') format('woff'), /* Modern Browsers */
         url('../../../assets/fonts/flaticon/font/Flaticon.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../../assets/fonts/flaticon/font/Flaticon.svg#OpenSans') format('svg'); /* Legacy iOS */
}


.testimonial4_slide{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    margin: auto;
    padding: 20px;
    position: relative;
    text-align: center;
}
.testimonial4_slide img {
    top: 0;
    left: 0;
    right: 0;
    width: 136px;
    height: 136px;
    margin: auto;
    display: block;
    color: #f2f2f2;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
    border-radius: 50%;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}
.testimonial4_slide p {
    color: #ffffff;
    font-size: 20px;
    line-height: 1.4;
    margin: 40px 0 20px 0;
}
.testimonial4_slide h4 {
  color: #ffffff;
  font-size: 22px;
}


/* ------testimonial  close-------*/