
.courseWrapper{
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
    text-align: center;
}

.courseWrapper:last-child {
    border-radius: 0 3px 3px 0;
}
.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 45px 30px;
    padding-top: 48px;
}
.type{
    margin: 0;
    color: #888;
    font-size: 22px;
    text-transform: none;
}
.desc{
    color: #909090;
    margin-top: 20px;
    padding: 0 10%;
}
.price{
    font-size: 37px;
    line-height: 35px;
    padding: 22px 0 0 0;
}
.regular_price{
    color: #B09E80;
}
.featured_color{
    color: #ffffff;
}
.regular_color{
    color: #909090;
}
.item{
    font-size: 15px;
    line-height: 27px;
    color: #707070;
    padding: 3px 0;
}
.list{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}
.regular_list{
    padding: 35px 30px;
}
.featured_list{
    padding: 45px 30px;
}

.regular_button{
    padding: 10px 20px;
    color: #B09E80;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-right: 6px;
    overflow: hidden;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    border: 2px solid #B09E80;
}
.regular_button:hover{
    padding: 10px 20px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-right: 6px;
    overflow: hidden;
    border: none;
    border-radius: 3px;
    background-color: #B09E80;
}
.featured_button{
    padding: 10px 20px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-right: 6px;
    overflow: hidden;
    border: none;
    border-radius: 3px;
    background-color: #B09E80;
}
@media screen and (max-width:768px) {
    .blog_card_blog {
        margin: 0;
        cursor: pointer;
    }
}
