body {
  margin: 0;
  background: #333;
  color: #74d7fd;
  text-align: center;
}

.title {
  margin-top: 300px;
  font-size: 4rem;
}

.tip {
	font-size: 1.4rem;
}
.modal-dialog {
  max-width: 10240px;
  margin: 1.75rem auto;
}
@media screen and (max-width:768px) {
  .blog_card_blog {
      margin: 0;
      cursor: pointer;
  }
  .modal-dialog {
      max-width: 600px;
      margin: 1.75rem auto;
  }
}

